:root {
    --statblock-sheet-columns: 1;
    --statblock-sheet-min-zoom: 0;
    --statblock-sheet-max-zoom: 10;

    .actor.statblock-sheet:has(.window-content.double-column) {
        --statblock-sheet-columns: 2;
    }
}

.dnd5e2.sheet.actor.npc.statblock-sheet:not(.minimized, .minimizing, .maximizing, .editable) {
    min-width: 250px;
    min-height: 300px;
}

.actor.statblock-sheet .statblock.npc {
    margin: 10px auto auto;

    --calcZoom: calc(tan(atan2(var(--statblock-sheet-window-size), var(--statblock-sheet-columns) * var(--dnd5e-statblock-column-width))));
    zoom: clamp(var(--statblock-sheet-min-zoom), var(--calcZoom), var(--statblock-sheet-max-zoom));
}

.actor.statblock-sheet .statblock.npc,
.actor.statblock-sheet .statblock.npc .statblock-actions-title
{
    font-family: var(--dnd5e-font-roboto-condensed);
}

.actor.statblock-sheet.npc .sheet-body .main-content {
    padding: 0 var(--sidebar-padding);
}

.actor.statblock-sheet .statblock.npc .statblock-title {
    margin: 0 0 0.5rem;
    line-height: normal;
    font-size: var(--dnd5e-journal-h3-size);
    font-family: var(--dnd5e-font-roboto-slab);
}

.actor.statblock-sheet .statblock.npc .statblock-actions-title {
    font-size: var(--dnd5e-journal-h4-size);
}

.actor.statblock-sheet .statblock .roll-link,
.actor.statblock-sheet .statblock .roll-link-group
{
    display: revert;
    cursor: pointer;
    pointer-events: revert;
}

.actor.statblock-sheet .statblock .statblock-actions .statblock-action .roll-link {
    text-decoration: none;
    font-style: italic;
}
.actor.statblock-sheet .statblock .statblock-header .roll-link,
.actor.statblock-sheet .statblock .statblock-actions .statblock-action .roll-link-group {
    &:hover {
        text-decoration: underline;
    }
}

.actor.statblock-sheet .statblock .statblock-actions .statblock-action .content-link {
    pointer-events: revert;
    &:hover {
        display: revert;
        cursor: pointer;
    }
}

.actor.statblock-sheet .content-link {
    padding: 0;
}

.actor.statblock-sheet .statblock .statblock-actions .statblock-action .statblock-roll-link-group .roll-link {
    text-decoration: underline;
}

.actor.statblock-sheet .rollable {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}