.dnd5e2.sheet.actor.npc.statblock-sheet:not(.minimized, .minimizing, .maximizing, .editable) {
    min-width: 300px;
    min-height: 300px;
}

.actor.statblock-sheet:not(.editable) .window-content .main-content:has(.statblock.npc) {
    flex-direction: column;
}

.actor.statblock-sheet:not(.editable) .tab-body {
    display: none;
}

.actor.statblock-sheet .statblock.npc {
    max-width: none;
    container-type: inline-size;
}

.actor.statblock-sheet .statblock-biography {
    flex: 1;
    display: none;

    .visible-bio & {
        display: revert;
    }
}

.actor.statblock-sheet.editable .inventory-element .items-section .pips {
    display: flex;
}

.actor.statblock-sheet .statblock.npc,
.actor.statblock-sheet .statblock.npc .statblock-actions-title
{
    font-family: var(--dnd5e-font-roboto-condensed);
}

.actor.statblock-sheet.npc .sheet-body .main-content {
    padding: 0 var(--sidebar-padding);
    gap: 10px;
}

.actor.statblock-sheet .statblock.npc .statblock-title {
    margin: 0 0 0.5rem;
    line-height: normal;
    font-size: var(--dnd5e-journal-h3-size);
    font-family: var(--dnd5e-font-roboto-slab);
    position: relative;

    .statblock-control {
        display: inline;
        position: absolute;
        top: 2px;
        cursor: pointer;

        &.toggle-biography {
            right: 0;

            .visible-bio & {
                color: var(--color-text-light-1);
                text-shadow: var(--dnd5e-color-gold) 1px 0 10px;
            }
        }

        &.toggle-doublecolumn {
            right: 30px;

            .double-column & {
                color: var(--color-text-light-1);
                text-shadow: var(--dnd5e-color-gold) 1px 0 10px;
            }
        }

        &.zoom-container {
            right: 60px;
            width: 90px;
            height: 20px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            &:not(:hover) {
                * {
                    display: none;
                }

                &::after {
                    font-family: var(--font-awesome);
                    content: "\f002";
                }
            }

            &:hover * {
                display: inline;
            }

            .zoom-label {
                line-height: 0.9;
                font-size: smaller;
            }
        }
    }
}

.actor.statblock-sheet .statblock.npc .statblock-actions-title {
    font-size: var(--dnd5e-journal-h4-size);
}

.actor.statblock-sheet .statblock .roll-link,
.actor.statblock-sheet .statblock .roll-link-group
{
    display: revert;
    cursor: pointer;
    pointer-events: revert;
}

.actor.statblock-sheet .statblock .statblock-actions .statblock-action .roll-link {
    text-decoration: none;
    font-style: italic;
}
.actor.statblock-sheet .statblock .statblock-header .roll-link,
.actor.statblock-sheet .statblock .statblock-actions .statblock-action .roll-link-group {
    &:hover {
        text-decoration: underline;
    }
}

.actor.statblock-sheet .statblock .statblock-actions .statblock-action .content-link {
    pointer-events: revert;
    &:hover {
        display: revert;
        cursor: pointer;
    }
}

.actor.statblock-sheet .content-link {
    padding: 0;
}

.actor.statblock-sheet .statblock .statblock-actions .statblock-action .statblock-roll-link-group .roll-link {
    text-decoration: underline;
}

.actor.statblock-sheet .rollable {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.actor.statblock-sheet .statblock-hp-text {
    cursor: pointer;
}

.actor.statblock-sheet .statblock-hp-input {
    width: 36px;
}

@container (width < 570px) {
    .actor.statblock-sheet .double-column .rules-2024 .abilities {
        grid: none;
    }
}
