.actor.statblock-sheet .statblock.npc {
    margin: 10px auto auto;
}

.actor.statblock-sheet .statblock.npc,
.actor.statblock-sheet .statblock.npc .statblock-actions-title
{
    font-family: var(--dnd5e-font-roboto-condensed);
}

.actor.statblock-sheet.npc .sheet-body .main-content {
    padding: 0 var(--sidebar-padding);
}

.actor.statblock-sheet .statblock.npc .statblock-title {
    margin: 0 0 0.5rem;
    line-height: normal;
    font-size: var(--dnd5e-journal-h3-size);
    font-family: var(--dnd5e-font-roboto-slab);
}

.actor.statblock-sheet .statblock.npc .statblock-actions-title {
    font-size: var(--dnd5e-journal-h4-size);
}

.actor.statblock-sheet .statblock .statblock-actions .statblock-action .roll-link,
.actor.statblock-sheet .statblock .statblock-actions .statblock-action .roll-link-group
{
    display: revert;
    cursor: pointer;
    pointer-events: revert;
}

.actor.statblock-sheet .statblock .statblock-actions .statblock-action .roll-link {
    text-decoration: none;
    font-style: italic;
}
.actor.statblock-sheet .statblock .statblock-actions .statblock-action .roll-link-group {
    &:hover {
        text-decoration: underline;
    }
}

.actor.statblock-sheet .statblock .statblock-actions .statblock-action .content-link {
    pointer-events: revert;
    &:hover {
        display: revert;
        cursor: pointer;
    }
}

.dnd5e2.sheet.actor.npc.statblock-sheet:not(.minimized, .minimizing, .maximizing, .editable) {
    min-width: 300px;
    min-height: 300px;
}

.actor.statblock-sheet .content-link {
    padding: 0;
}

.actor.statblock-sheet .statblock-action .statblock-roll-link-group {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.actor.statblock-sheet .statblock-action .name:empty {
    margin-left: -3px;
}

.actor.statblock-sheet .rollable {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}